name: Run Sync Script

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest

    env:
      SYNC_GITHUB_TOKEN: ${{ secrets.SYNC_GITHUB_TOKEN }}
      KEYCLOAK_SERVER_URL: ${{ secrets.KEYCLOAK_SERVER_URL }}
      KEYCLOAK_USERNAME: ${{ secrets.KEYCLOAK_USERNAME }}
      KEYCLOAK_PASSWORD: ${{ secrets.KEYCLOAK_PASSWORD }}
      KEYCLOAK_REALM: ${{ secrets.KEYCLOAK_REALM }}
      KEYCLOAK_CLIENT_ID: ${{ secrets.KEYCLOAK_CLIENT_ID }}
      KEYCLOAK_USER_REALM: ${{ secrets.KEYCLOAK_USER_REALM }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Run Sync Script
        run: pip3 install -r scripts/requirements.txt && python3 scripts/sync.py
