name: "Validate CODEOWNERS"

on:
  push:
    branches:
      - main
    paths:
      - ".github/CODEOWNERS"
  workflow_dispatch:

jobs:
  validate-codeowners:
    name: Validate CODEOWNERS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: GitHub CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.4
        with:
          checks: "files,duppatterns,syntax"
          experimental_checks: "notowned,avoid-shadowing"

      # downgrading to 0.7.2 for owners check to avoid issues with token permissions check,
      # see https://github.com/mszostok/codeowners-validator/issues/224
      - name: GitHub CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.2
        with:
          checks: "owners"
          github_access_token: "${{ secrets.SPECIAL_GITHUB_ACCESS_TOKEN }}"
          owner_checker_owners_must_be_teams: true
