name: "Codeowners Validator"

on:
  push:
    branches:
      - main
    paths:
      - ".github/CODEOWNERS"
  workflow_dispatch:

jobs:
  validate-codeowners:
    name: Validate CODEOWNERS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: GitHub CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.4
        with:
          github_access_token: "${{ secrets.SYNC_GITHUB_TOKEN }}"
          owner_checker_repository: "${{ github.repository }}"
