name: Validate

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-editorconfig:
    name: Check EditorConfig Compliance
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install EditorConfig Checker
        uses: taiki-e/install-action@v2
        with:
          tool: editorconfig-checker
          fallback: none

      - name: Check EditorConfig Compliance
        run: editorconfig-checker --exclude LICENSE

  validate-toml:
    name: Validate TOML Files
    needs: validate-editorconfig
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Taplo
        uses: taiki-e/install-action@v2
        with:
          tool: taplo
          fallback: none

      - name: Validate TOML Formatting
        run: taplo fmt --check

      - name: Validate TOML Against Schemas
        run: taplo check

  validate-rules:
    name: Validate Governance Rules
    needs: validate-toml
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run Governance Validator
        run: RUST_LOG=info cargo run --release --bin governance
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          SYNC_GITHUB_TOKEN: ${{ secrets.SYNC_GITHUB_TOKEN }}

  validate-codeowners:
    name: Validate CODEOWNERS
    if: github.event_name == 'push' # only run on push, not PRs since it fails on forks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: GitHub CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.4
        with:
          checks: "files,duppatterns,syntax"
          experimental_checks: "notowned,avoid-shadowing"

      # downgrading to 0.7.2 for owners check to avoid issues with token permissions check,
      # see https://github.com/mszostok/codeowners-validator/issues/224
      - name: GitHub CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.2
        with:
          checks: "owners"
          github_access_token: "${{ secrets.SYNC_GITHUB_TOKEN }}"
